aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-types
anyio
asgiref
asttokens
attrs
backoff
bcrypt
beautifulsoup4
bleach
build
cachetools
certifi
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
comm
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
distro
durationpy
executing
fastapi
fastjsonschema
filelock
flatbuffers
frozenlist
fsspec
google-auth
googleapis-common-protos
greenlet
grpcio
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
iniconfig
ipykernel
ipython
jedi
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kubernetes
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-checkpoint-postgres
langgraph-checkpoint-sqlite
langgraph-sdk
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mistune
mmh3
monotonic
mpmath
msgpack
multidict
mypy
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandocfilters
parso
pip-review
platformdirs
pluggy
posthog
prompt_toolkit
protobuf
psutil
psycopg
psycopg-pool
psycopg2-binary
pure_eval
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
Pygments
PyPika
pyproject_hooks
pyreadline3
pytest
pytest-asyncio
python-dateutil
python-dotenv
#pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
ruff
shellingham
six
sniffio
soupsieve
SQLAlchemy
SQLAlchemy-Utils
stack-data
starlette
sympy
tenacity
tiktoken
tinycss2
tokenizers
tornado
tqdm
traitlets
typer
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
watchfiles
wcwidth
webencodings
websocket-client
websockets
wrapt
yarl
zipp
langchain-google-genai
google
pypdf
langchain-groq
langchain-tavily
python-hcl2
PyMuPDF
crewai
crewai_tools
streamlit